<style>
	.uselesss {}
	@font-face { font-family: Agency FB; src: url('Agency_FB.ttf'); } 
	@font-face { font-family: Consolas; src: url('Consolas.ttf'); } 
 	@font-face { font-family: SmileBASIC; src: url('SMILEBASIC.ttf'); }
 	p.welcome {
 		margin-bottom: 1px;
		padding-bottom: 0px;
		font-family: "Consolas",monospaced;
 	}
	.version {
 		font-family: "Consolas",monospaced;
 		font-size: 12px;
		color: #DDD;
 	}
 	.llheader {
		display: inline-block;
		margin-top: 8px; margin-bottom: 1px;
 		font-family: "Consolas",monospaced;
 	}
 	.smilebasic {
 		font-family: "SmileBASIC",monospaced;
 		color: white;
 	}
 	a:link, a:visited {
		display: inline-block;
		margin-left: 5px; margin-bottom: 0px; margin-top: 1px; margin-right: 3px;
 		border-bottom: 2px solid green; border-right: 2px solid green; border-top: 2px solid lime; border-left: 2px solid lime;
		padding: 1px 2px;
		background-color: rgba(255,255,255,.2);
		font-family: "Agency FB";
 		font-size: 16px;
		text-decoration: none;
		border-radius: 3px;
 	}
 	a:hover, a:active {
 		display: inline-block;
 		margin-left: 6px; margin-bottom: 1px; margin-top: 2px; margin-right: 4px;
		border-bottom: 2px solid lime; border-right: 2px solid lime; border-top: 2px solid green; border-left: 2px solid green;
 		padding: 0px 1px;
 		background-color: rgba(192,255,255,.7);
 		font-family: "Agency FB";
		font-size: 16px;
		text-decoration: none;
		border-radius: 2px;
 	}
	div.songtitle {	/* will fix for non-firefox later (probably not) */
		display: inline-block;
		vertical-align: bottom;
		height: 28px;
		margin: 0px;
		padding-right: 5px; padding-left: 3px;
		background-color: rgba(0,0,0,.64);
		font-family: "Agency FB",sans-serif;
		font-variant: small-caps;
		font-size: 21px;
		color: #BBB;
	}
	.sbkey {
		font-family: "comic sans MS",sans-serif;
	}
 </style>
