code {
	color: rgb(198,175,157);
	background-color: rgb( 42, 33, 28);
}
code > span.keyword {color:rgb( 55,163,237);}
code > span.number  {color:rgb(255, 58,131);}
code > span.function{color:rgb(200,122,237);}
code > span.label   {color:rgb(128,255,  0);}
code > span.string  {color:rgb(  0,255, 64);}
code > span.comment {color:rgb(102,102,102);}
code > span.operator{color:rgb(229,193, 56);}
code > span.variable{color:rgb(255,255,255);}
code > span.separator{}
